*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: #f4f4f4;
}

.container{
    width: 400px;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}

h1{
    text-align: center;
    margin-bottom: 20px;
}

h2{
    text-align: center;
    margin-bottom: 20px;
}

.summary{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.income{
    width: 45%;
    background: lightgreen;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.expense{
    width: 45%;
    background: lightcoral;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

input,
select,
button{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button{
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover{
    background: darkblue;
}

ul{
    list-style: none;
    margin-top: 20px;
}

li{
    display: flex;
    justify-content: space-between;
    background: #eee;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}